<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>:<%=subtitle%></p>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br />
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    <br />
    <a href="/helloworld.html">Relative Link Example</a>
    <br />
    <a href="/templatelink">Template Link Example</a>
    <a href="/movie/all">Get All Accounts</a>
    <a href="/account/all">Get All Users</a>
  </body>
</html>
