<% if(rs.length > 0) { %>
User: <%= rs[0].user_name %>
<ul>
    <% for(var i=0; i < rs.length; i++) {%>
    <li><%= rs[i].movie_title %> <%= rs[i].user_rating%></li>
    <% } %>
</ul>
<% } else { %>
No user matched movie id <%= user_id %>.
<% } %>