<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      #header {
          background-color:orange;
          text-align:left;
          padding:10px;
      }
      #nav{
          background-color:black;
          height:400px;
          width:200px;
          float:left;
          padding:10px;
      }
      #section {
          table, th, td {
              border:1px solid black;
              width:300px;
          }
          th, td {
              padding:15px;
          }
      }
    </style>
  </head>
  <body>
    <div id="header">
    <h1><%= title %></h1>
    </div>
    <div id="nav">
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br />
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    <br />
    <a ddddddddddddddddddddddddddddddddddddddddddddhref="/helloworld.html">Relative Link Example</a>
    <br />
    <a href="/templatelink">Template Link Example</a>
    <br />
    <a href="http://www.cs.sonoma.edu/">Computer Science</a>
    <br />
    <a href="http://www.sonoma.edu/">Sonoma State</a>
    <br />
    <a href="/movie/all">Get All Accounts</a>
    <br />
    <a href="/account/all">Get All Users</a>
    </div>
    <div id="section">
    <table border="1" style="width:70%">
        <tr>
            <th>Course Number</th>
            <th>Name of Course</th>
            <th>Professor</th>
        </tr>
        <tr>
            <td>CS355</td>
            <td>Database Systems and Management</td>
            <td>M. Haderman</td>
        </tr>
        <tr>
            <td>CS355</td>
            <td>Database Systems and Management</td>
            <td>M. Haderman</td>
        </tr>
        <tr>
            <td>CS370</td>
            <td>Software Design</td>
            <td>J. Fisher</td>
        </tr>
        <tr>
            <td>CS242</td>
            <td>Discrete Mathematics</td>
            <td>D. Harden</td>
        </tr>
        <tr>
            <td>MATH211</td>
            <td>Integral Calculus</td>
            <td>J. Morris</td>
        </tr>

    </table>
    <p>Top 3 things I've learned:</p>
    <pre>
          1. Android development
          2. API development
          3. Database Design
    </pre>
    <p>Top 3 things I want to learn:</p>
    <pre>
          * Polymorphism
          * Factoring to prime numbers
          * Security Development
    </pre>
    </div>
  </body>
</html>
