<% include partials/header %>
<div id="section">
    <table border="1" style="width:70%">
        <tr>
            <th>Course Number</th>
            <th>Name of Course</th>
            <th>Professor</th>
        </tr>
        <tr>
            <td>CS355</td>
            <td>Database Systems and Management</td>
            <td>M. Haderman</td>
        </tr>
        <tr>
            <td>CS355</td>
            <td>Database Systems and Management</td>
            <td>M. Haderman</td>
        </tr>
        <tr>
            <td>CS370</td>
            <td>Software Design</td>
            <td>J. Fisher</td>
        </tr>
        <tr>
            <td>CS242</td>
            <td>Discrete Mathematics</td>
            <td>D. Harden</td>
        </tr>
        <tr>
            <td>MATH211</td>
            <td>Integral Calculus</td>
            <td>J. Morris</td>
        </tr>

    </table>
    <p>Top 3 things I've learned:</p>
    <pre>
          1. Android development
          2. API development
          3. Database Design
    </pre>
    <p>Top 3 things I want to learn:</p>
    <pre>
          * Polymorphism
          * Factoring to prime numbers
          * Security Development
    </pre>
    <% if(typeof fname !== "undefined") { %><a href="/logout">Logout</a><% } %>
</div>
<% include partials/footer %>
