<% include partials/header %>

<form action="/movie/save/">
    <%  %>
    <%  %>
    <label for="movie_title">Movie Title</label> <input type="text" id="movie_title" name="movie_title" /><br />
    <label for="tagline">Tag Line</label> <input type="text" id="tagline" name="tagline" /><br />

    <input type="submit" />
</form>

<% include partials/footer %>