<% include partials/header %>
<div id="section">
    <p>This is the parts website for Pc Master, we let customers who have previously purchased parts add new motherboards to our database!</p>
    <p>Our contact info:</p>
    <p>Phone: 555-569-6969</p>
    <p>Address: 111 Peanut Way</p>
    <% if(typeof custName !== "undefined") { %><a href="/logout">Logout</a><% } %>
</div>
<% include partials/footer %>