<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Processor Names</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/processor/?model_name=<%= rs[i].model_name %>"> <%= rs[i].model_name %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No movies exist.
    <% } %>
</div>
