<% include partials/header %>
<div id="section">
  <p>The PC Part Master Semi/not really/Official Website!</p>
  <% if(typeof custName !== "undefined") { %><a href="/logout">Logout</a><% } %>
</div>
<% include partials/footer %>
